{{- $fullname := include "service.fullname" . -}}
{{- $name := include "service.name" . -}}
{{- $chart := include "service.chart" . -}}
{{- $root := . }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $root.Values.name | default "cassandra" | quote }}
  namespace: {{ $root.Release.Namespace | quote }}
  labels:
    chart: {{ $chart }}
    release: {{ $root.Release.Name }}
    heritage: {{ $root.Release.Service }}
data:
  init.cql: |
    CREATE KEYSPACE IF NOT EXISTS designs WITH REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' : 1 };

    CREATE ROLE IF NOT EXISTS admin WITH PASSWORD = 'password' AND LOGIN = true;
    CREATE ROLE IF NOT EXISTS verticle WITH PASSWORD = 'password' AND LOGIN = true;

    GRANT ALL PERMISSIONS on KEYSPACE designs TO admin;
    GRANT ALL PERMISSIONS on KEYSPACE designs TO verticle;

    USE designs;

    CREATE TABLE IF NOT EXISTS DESIGN_EVENT (
      DESIGN_UUID UUID,
      DESIGN_DATA TEXT,
      DESIGN_STATUS TEXT,
      DESIGN_CHECKSUM TEXT,
      EVENT_TIMESTAMP TIMEUUID,
      PRIMARY KEY (DESIGN_UUID, EVENT_TIMESTAMP)
    ) WITH CLUSTERING ORDER BY (EVENT_TIMESTAMP ASC);

    CREATE TABLE IF NOT EXISTS DESIGN_ENTITY (
      DESIGN_UUID UUID,
      DESIGN_DATA TEXT,
      DESIGN_CHECKSUM TEXT,
      DESIGN_CREATED TIMESTAMP,
      DESIGN_UPDATED TIMESTAMP,
      PRIMARY KEY (DESIGN_UUID)
    );

