*.jceks
*.jks
*.crt
*.key
*.cer
*.pem
*.pub
*.iml
**/.idea
**/.vertx
**/node_modules
*.tf.bkp
*.tf.backup
*.tfstate
*.tfstate.backup
config_vars.json
config.tfvars
terraform.tfstate*
.terraform
**/tfplan
consul.tfvars
infrastructure/setup/provider.tf
**/secrets
services/keystores/generated
