*.jceks
*.jks
*.crt
*.key
*.cer
*.pem
*.pub
*.iml
**/.idea
**/.vertx
**/node_modules
*.tf.bkp
*.tf.backup
*.tfstate
*.tfstate.backup
main.json
terraform.tfstate*
.terraform
**/tfplan
secrets
dependency-reduced-pom.xml
**/node
.gradle
