<script type="text/javascript">var config = {{{config}}};</script>
<div id="app"></div>
<input type="hidden" id="uuid" value="{{uuid}}"/>
<script type="text/javascript" src="{{url}}/js/design.js"></script>
