<settings>
    <mirrors>
        <mirror>
            <id>nexus-maven-central</id>
            <name>Nexus - Maven Central</name>
            <url>http://${nexus.host}:${nexus.port}/repository/maven-central</url>
            <mirrorOf>*,!nexus</mirrorOf>
        </mirror>
        <mirror>
            <id>nexus-maven-internal</id>
            <name>Nexus - Maven Internal</name>
            <url>http://${nexus.host}:${nexus.port}/repository/maven-internal</url>
            <mirrorOf>nexus</mirrorOf>
        </mirror>
    </mirrors>
</settings>
