<body class="container-fluid">
    <header class="col-sm-12"></header>
    <section class="preview-container col-sm-12">
        <div id="fractal" class="preview"/>
    </section>
    <footer class="col-sm-12">
        <p>Powered by NextBreakpoint</p>
    </footer>
    <input type="hidden" id="uuid" value="{{uuid}}"/>
    <script>
        domReady(function(event) {
            var map = L.map('fractal').setView([0, 0], 2);

            var url = '{{config.api_url}}/designs/{{design.uuid}}/{z}/{x}/{y}/256.png';

            var layer = L.tileLayer(url, {
                attribution: '&copy; Andrea Medeghini',
                detectRetina: true,
                bounds: [[-180, -180],[180, 180]],
                noWrap: true,
                minZoom: 2,
                maxZoom: 10,
                tileSize: 256,
                updateWhenIdle: true,
                updateWhenZooming: true,
                updateInterval: 500,
                keepBuffer: 2
            });

            layer.addTo(map);
        });
    </script>
</body>
