body {
    font-family: "Roboto";
    color: #080808;
}

header {
    font-size: 1.8em;
    padding: 10px;
}

footer {
    font-size: 1.6em;
    padding: 24px;
    text-align: center;
}

.controls .button {
    margin: 1%;
}

.container {
    background-color: #ededed;
}

.preview {
    width: 738px;
    height: 738px;
    position: relative;
    margin: 0;
    overflow: hidden;
}

.controls {
    padding: 2%;
    text-align: right;
}

.script {
    padding-left: 2%;
    padding-right: 1%;
}

.metadata {
    padding-left: 1%;
    padding-right: 2%;
}

.list-image {
    padding-right: 24px !important;
    text-align: right !important;
}

a, a:active, a:hover, a:visited {
    color: #222222;
    text-decoration: none;
}

header a, header a:active, header a:hover, header a:visited {
    color: #fdfdfd;
    text-decoration: underline;
}

footer a, footer a:active, footer a:hover, footer a:visited {
    color: #222222;
    text-decoration: underline;
}

.leaflet-container {
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 0px;
    text-align: center;
    background: transparent;
}
