<div class="page">
{{#each grid}}
<div class="row">
{{#each .}}
    <div id="{{design.uuid}}" class="cell"><a href="{{design.location}}"><img src="{{imageUrl}}" alt="{{design.location}}"/></a></div>
{{/each}}
</div>
{{/each}}
</div>
