body {
    font-family: "Roboto";
    font-size: 14pt;
    color: #080808;
    min-width: 800px;
    max-width: 2600px;
    margin: 0;
}

header {
    font-size: 1.5em;
    padding: 1em 0.2em 1em 0.2em;
}

footer {
    font-size: 1.2em;
    padding: 1.5em;
    text-align: center;
}

.container {
    text-align: center;
    padding: 2em 1em 2em 1em;
}

a, a:active, a:hover, a:visited {
    color: #222222;
    text-decoration: none;
}

header a, header a:active, header a:hover, header a:visited {
    color: #fdfdfd !important;
    text-decoration: none !important;
}

footer a, footer a:active, footer a:hover, footer a:visited {
    color: #222222 !important;
    text-decoration: none !important;
}

.toolbar {
    margin-top: 1em;
    text-align: right;
}

.controls {
    padding: 2em 0.2em;
    text-align: right;
}

.controls .button {
    margin: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

.details {
    text-align: left;
    margin-left: 1em;
}

.details-item {
    padding: 0.4em;
    background-color: rgb(253, 253, 253);
    border-radius: 0.4em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    margin: 0.8em 0.4em;
    font-size: 1em;
    overflow: scroll;
}

.details-label {
    display: inline-block;
    font-weight: bold;
}

.details-value {
    display: inline-block;
}

.image-preview {
    text-align: center;
    min-height: 544px;
}

.image-preview img {
    margin: 0.5em;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

.map-preview {
    margin: 0 0.5em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

.form {
    border-radius: 1em;
    padding: 0.6em;
    margin: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color: rgb(253, 253, 253);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    text-align: left;
}

.form-label {
    padding-bottom: 0.6em;
    display: inline-block;
    font-weight: bold;
    width: 100%;
    margin-bottom: 1em;
}

.status {
    padding: 0.4em;
}

.image {
    border-radius: 1em;
}

.leaflet-container {
    width: 100%;
    height: 512pt;
    position: relative;
    display: block;
    background: transparent;
}

.editor {
    height: 600px;
    overflow: scroll;
    text-align: left;
}

.keyword {
    color: blue;
}

.function {
    color: brown;
}

.pathop {
    color: orange;
}

.parent {
    color: purple;
}

.brace {
    color: black;
}

.operator {
    color: green;
}

.grow {
    flex-grow: 1;
}

.browse {
    font-weight: bold;
}

.button {
    padding: 0;
}

.spacer {
     flex: 1 1 auto;
}

.actions {
     color: red;
}

.upload-file input {
    display: none;
}

.highlight {
    background-color: rgba(25, 118, 210, 0.08);
}

.message {
    width: 100%;
    overflow-wrap: break-word;
    padding: 0.5em;
    text-align: center;
}

a.link:hover {
    text-decoration: underline;
}

a.image {
    text-align: left;
}

a.image img {
    margin: 1em;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

a.image:hover img {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px -1px, rgba(0, 0, 0, 0.18) 0px 4px 5px 0px, rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
}
