body {
    font-family: "Roboto";
    font-size: 14pt;
    color: #080808;
    padding: 0;
    margin: 0;
    border: 0;
    background: #ededed;
}}

p, span, div {
    padding: 0;
    margin: 0;
    border: 0;
}

a, a:active, a:hover, a:visited {
    color: #222222;
}

header {
    font-size: 1.4em;
    left: 0%;
    top: 2%;
    position: fixed;
    display: block;
    text-align: left;
    z-index: 10;
    padding: 2%;
    background: #fdfdfd;
    opacity: 0.6;
    border-radius: 0 1.2em 1.2em 0;
}

header p {
    padding: 0;
    margin: 0;
}

footer {
    font-size: 1.2em;
    right: 0%;
    bottom: 1%;
    position: fixed;
    display: block;
    text-align: left;
    z-index: 10;
    padding: 1.2%;
    background: #fdfdfd;
    opacity: 0.6;
    border-radius: 1.2em 0 0 1.2em;
}

footer p {
    padding: 0;
    margin: 0;
}

navigation.images {
    font-size: 1.2em;
    left: 0%;
    bottom: 1%;
    position: fixed;
    display: block;
    text-align: center;
    z-index: 10;
    padding: 1.2%;
    background: #fdfdfd;
    opacity: 0.6;
    border-radius: 0 1.2em 1.2em 0;
    float: left;
}

navigation.close {
    font-size: 1.4em;
    right: 0%;
    top: 2%;
    position: fixed;
    display: block;
    text-align: center;
    z-index: 10;
    padding: 1.2%;
    background: #fdfdfd;
    opacity: 0.6;
    border-radius: 1.2em 0 0 1.2em;
}

navigation.images .home {
    display: inline-block;
    float: left;
}

navigation.images .next {
    display: inline-block;
    float: left;
}

navigation.images .spacer {
    display: inline-block;
    float: left;
    padding: 0 0.6em 0 0.6em;
}

section.images {
    display: block;
    position: absolute;
    overflow: scroll;
    width: 100%;
    height: 100%;
}

section.images .pages {
    display: block;
    position: relative;
    width: 100%;
}

section.images .page {
    display: block;
    position: relative;
    text-align: center;
    font-size: 0;
    width: 100%;
    z-index: 5;
}

section.images .row, section.preview .row {
    display: inline-block;
    float: left;
    width: 104%;
}

section.images .cell, section.preview .cell {
    display: inline-block;
    float: left;
    width: 12%;
}

section.images .cell img, section.preview .cell img {
    width: 100%;
    height: 100%;
}

section.preview {
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: 0;
    padding: 0;
    z-index: 5;
}

section.preview .leaflet-container {
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 0px;
    text-align: center;
}

@media (max-width: 800px) {
    header {
        font-size: 1.2em;
    }

    footer {
        font-size: 1.0em;
    }

    .next {
        font-size: 1.2em;
    }

    .close {
        font-size: 1.2em;
    }
}

@media (max-width: 600px) {
    header {
        font-size: 1.0em;
    }

    footer {
        font-size: 0.8em;
    }

    .next {
        font-size: 1.0em;
    }

    .close {
        font-size: 1.0em;
    }
}

@media (max-width: 300px) {
    header {
        font-size: 0.8em;
    }

    footer {
        font-size: 0.6em;
    }

    .next {
        font-size: 0.8em;
    }

    .close {
        font-size: 0.8em;
    }
}