<settings>
    <servers>
        <server>
            <id>nexus</id>
            <username>${env.NEXUS_USERNAME}</username>
            <password>${env.NEXUS_PASSWORD}</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>nexus-maven-central</id>
            <name>Nexus - Maven Central</name>
            <url>http://192.168.64.12:38081/repository/maven-central</url>
            <mirrorOf>*,!nexus</mirrorOf>
        </mirror>
        <mirror>
            <id>nexus-maven-internal</id>
            <name>Nexus - Maven Internal</name>
            <url>http://192.168.64.12:38081/repository/maven-internal</url>
            <mirrorOf>nexus</mirrorOf>
        </mirror>
    </mirrors>
</settings>
